- javascript 'chip_pc'
:coffeescript
  class ChipPeripheralGrid extends cMoMGridObject

    grid_json_id:      -> "peripheral.id"
    grid_json_url:     -> "/users/#{@user.id}/chips/#{@chip.id}/peripherals.json"
    grid_resource_url: -> "/users/#{@user.id}/chips/#{@chip.id}/peripherals"

    grid_data_model: =>
      [
        { name:'peripheral.type', label:'Type', index:'type', width: 100, align: 'left' }
        { name:'peripheral.name', label:'Name', index:'name', width: 100, align: 'left' }
        { name:'peripheral.description', label:'Description', index:'description', width: 200, align: 'left' }
      ]

    jgrid_caption: -> 'Peripherals'

    reload_grid: ->
      @.grid().trigger( "reloadGrid" )

  jQuery ->
    window.grid_object = new ChipPeripheralGrid

    $("#add_peripheral").change ->
      url = $(this).find("option:selected").val()
      window.location = url

-#    $("#add_peripheral").change ->
-#      url = $(this).find("option:selected").val()
-#      tag = $("<div></div>")
-#      $.ajax
-#        url: url, 
-#        dataType: "script"
-#        success: (data) ->
-#          window.grid_object.reload_grid()

= semantic_form_for [user, chip], :html => { :class => "chip_form" } do |form|
  = form.inputs do
    = form.input :name, :label => "Name:"
    #microcontroller_settings
      Microcontroller Settings:
      .options
        = form.semantic_fields_for chip.microcontroller do |microcontroller|
          = microcontroller.input :clock_source, :label => "Clock Source:", :as => :select, :collection => microcontroller.object.options_for_clock_source
          = microcontroller.input :clock_frequency, :label => "Clock Frequency:"
          = microcontroller.input :operating_conditions, :label => "Operating Conditions:", :as => :select, :collection => microcontroller.object.options_for_operating_conditions
    #memory_settings
      Memory Settings:
      .options
        = form.semantic_fields_for chip.memory do |memory|
          = memory.input :nvm,  :label => "NVM:", :as => :select, :collection => memory.object.options_for_nvm
          = memory.input :sram, :label => "SRAM:", :as => :select, :collection => memory.object.options_for_sram
          = memory.input :emi,  :label => "Use EMI", :as => :boolean
  %br
  = select_tag :add_peripheral, options_for_select( @add_peripheral_urls )
  #peripheral_dialog
  %br
  %br
  #grid_container
    %table#grid.scroll
    #grid_pager.scroll
  %br
  = form.buttons do
    %li= form.commit_button "Save", :name => "confirm"
    %li= form.commit_button "Cancel", :name => "cancel"
