= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.inputs do
    = f.input :name, :label => "Name:"
    = f.input :email, :label => "Email:"
    = f.input :password, :label => "Password:"
    = f.input :password_confirmation, :label => "Password Confirmation:"
  = f.buttons do
    = f.commit_button "Sign Up"
