= form_for(resource, :as => resource_name, :remote => true, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = "Test Count #{@test_count}"
  = "Resource = #{resource.inspect}, errors = #{resource.errors.count}"
  = devise_error_messages!
  - if resource.errors.any?
    Got Errors!
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %p= f.submit "Update"
%p
  #{link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
