= semantic_form_for(resource, :as => resource_name, :validate => true, :url => user_session_path) do |form|
  = devise_error_messages!
  = form.inputs do
    = form.input :email, :label => "Email:", :validate => { :uniqueness => false }
    = form.input :password, :label => "Password:"
    - if devise_mapping.rememberable?
      = form.input :remember_me, :as => :boolean, :label => "Remember me!"
    = form.buttons do
      = form.commit_button "Sign In"
