= Rails.logger.info "Test"
= semantic_form_for [user, chip, peripheral], :html => { :class => "peripheral_form" } do |form|
  = form.inputs do
    = form.input :name
  - Rails.logger.info "Buttons = #{buttons}"
  - if buttons
    = form.buttons do
      %li= form.commit_button "Save 1"
      %li= link_to "Cancel", @user
